# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Streamlit local configs & cache
.streamlit/

# Generated and temporary output files
output/*
!output/.gitkeep
input/*
!input/.gitkeep
*.gif
*.jpg
*.jpeg
*.png

# Environment variables & secrets
.env
*.local

# IDEs, editors & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini
*.tmp
